.champion-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.champion-item {
    @include list-item(#ffae35);

    &.science {
        @include list-item($science-green);
    }

    &.skill {
        @include list-item($skill-red);
    }

    &.mutant {
        @include list-item($mutant-yellow);
    }

    &.cosmic {
        @include list-item($cosmic-cyan);
    }

    &.tech {
        @include list-item($tech-blue);
    }

    &.mystic {
        @include list-item($mystic-purple);
    }
}